
<div class="row">
  <div class="col-md-4 home"></div>
  <div class="col-md-4 home">
 		<center><h1>What's Out There..?</h1><br>
 		<%= link_to "Let's Find Out!", signup_path, class: "btn btn-lg btn-danger" %></center>
 		<center>Or simply <%= link_to "Sign in", signin_path, class: "btn btn-lg btn-secondary" %></center>
 	</div>
 	<div class="col-md-4 home"></div>
</div>

