<!-- MyPlaces / This is the users profile where I can see all of their places.  -->

<% provide(:title, @user.name) %>

<h1>Hi <%= @user.name %>!</h1>

<h4><%= @user.email %></h4>

<%= link_to "Edit", edit_user_path, class: "btn btn-lg btn-danger" %>





