<!-- MyPlaces / This is the users profile where I can see all of their places.  -->

<% provide(:title, @user.name) %>

<h1><%= @user.name %></h1>

<h5>Places Added</h5>
<ul>
  <% @user.places.each do |place| %>
    <li>
      <%= link_to place['name'], place_path(place) %>
      <% if current_user?(@user) %>
         | <%= link_to "delete", place, method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>
     </li>
  <% end %>
</ul>