/*@import url(http://fonts.googleapis.com/css?family=Arvo:400,700,400italic);
@import url(http://fonts.googleapis.com/css?family=Lobster);*/


body {
  font-family: 'Arvo', serif;
}

/*=================================NAVBAR============================================*/
.navbar {
  min-height: 80px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  background-color: rgba(47,42,49,0.9);
  font-size: 20px;
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
}

.navtexto {
  margin-top: 15px;
}

.navbar-brand {
  margin-top: 15px;
  font-size: 40px;
}

.navbar-default .navbar-nav > li > a {
  color: white;
  font-family: 'Arvo', serif;
}

.navbar-default .navbar-brand {
  color: white;
  font-family: 'Lobster', cursive;
}

.search-bar {
	padding-top: 150px;
	vertical-align: middle;
}

/*=====================================HOME =============================================*/
.home-greeting {
  background-size: cover;
  background-repeat: no-repeat;

}

.overlay {
  font-family: 'Arvo', serif;
  z-index:12;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
}

.overlay a {
  color: white;
}

.home-question {
  text-shadow: 0 1px 0 black;
  font-size: 5em;
}

.slide1, .slide2, .slide3 {
  min-height: 560px; /* Must have a height or min-height set due to use of background images */
  max-height: 900px;
  background-size: cover;
}

.explanation {
  margin-top: 40px;
  margin-bottom: 40px;
}

.signin {
  margin-top: 200px;
}























/* Buttons
================================= */

.btn-default {
  border-width: 2px;
  border-color: inherit;
  margin-right: 10px;
  padding: 12px 22px;
}
.btn-default:hover {
  background-color: #fff;
  color: #957bba;
  border-color: #fff;
}
.btn:active {
  box-shadow: none;
}
.panel .btn-default:hover {
  background-color: #ccc;
  color: #f7f7f7;
  border-color: #ccc;
}
.btn-success {
  box-shadow: 0 3px 0 #23812f;
  text-shadow: 0 1px 1px rgba(0,0,0,.3);
  font-size: 1.5em;
  width: 330px;
  padding: 15px 0;
}
