
body {
  font-family: 'Arvo', serif;
}

.errors {
  padding-top: 70px;
}

.steps {
  font-size: 50px;
  color: #5bc0de;
  text-shadow: 0 1px 0 #46b8da;
}

/*=================================NAVBAR============================================*/
.navbar {
  min-height: 80px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  background-color: rgba(47,42,49,0.9);
  font-size: 20px;
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
}

.navtexto {
  margin-top: 15px;
}

.navbar-brand {
  margin-top: 15px;
  font-size: 40px;
}

.navbar-default .navbar-nav > li > a {
  color: white;
  font-family: 'Arvo', serif;
}

.navbar-default .navbar-brand {
  color: white;
  font-family: 'Lobster', cursive;
}

/*=====================================HOME =============================================*/
.home-greeting {
  background-size: cover;
  background-repeat: no-repeat;
}

.overlay {
  font-family: 'Arvo', serif;
  z-index:12;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
}

.overlay a {
  color: white;
}

.home-question {
  text-shadow: 0 1px 0 black;
  font-size: 5em;
}

.slide1, .slide2, .slide3 {
  min-height: 560px; /* Must have a height or min-height set due to use of background images */
  max-height: 900px;
  background-size: cover;
}

.explanation {
  margin-top: 60px;
  margin-bottom: 60px;
}

.signin {
  margin-top: 100px;
}

.signin .form-control {
  max-width: 400px;
}

.signup {
  max-width: 400px;
}

.bg-light-gray {
    background-color: #f7f7f7;
}

.how-it-all-began-p {
  margin-top: 25px;
  margin-bottom: 90px;
  max-width: 700px;
}

.section-heading {
  margin-top: 60px;
}

.fa-angle-double-down {
  margin-top: 50px;
}


/*==========================================Search Page ==========================================================*/

.search-background {
  background-color: #f7f7f7;
  background: cover;
  height: 1000px;
}

.gretting-name {
  font-size: 70px;
  padding-top: 100px;
}

.search-bar {
  padding-top: 50px;
  vertical-align: middle;
}

.form-control {
  margin-top: 10px;
  margin-bottom: 10px;
  height: 50px;
  font-size: 20px;
}


/*=================================== Results Page ======================================================*/

.results-main {
  padding-top: 95px;
  padding-bottom: 90px;
}

.panel-body {
  background-color: #f7f7f7;
/*  max-height: 150px;*/
}

.paper-plane-check-in-icon {
  text-align: right;
  color: #FE415E;
  width: 100px;
  padding-top: 30px;
}

.col-md-4 > a {
  color: #FE415E;
}

.results-header {
  padding-bottom: 20px;
  font-size: 40px;
}

.picture-place-detail {
  width: 120px;
}

.place-detail {
  width: 300px;
}

.rating-word {
  color: #5bc0de;
}



/*==========================================My Places Page =====================================================*/

.delete-icon {
  text-align: right;
  color: #FE415E;
  width: 100px;
  padding-top: 30px;
}






/*================================Edit Account Page =========================================*/


.edit-account {
  padding-top: 100px;
}





/* Buttons
================================= */

.btn-default {
  border-width: 2px;
  border-color: inherit;
  margin-right: 10px;
  padding: 12px 22px;
}
.btn-default:hover {
  background-color: black;
  color: #fff;
  border-color: #fff;
}
.btn:active {
  box-shadow: none;
}
.panel .btn-default:hover {
  background-color: #ccc;
  color: #f7f7f7;
  border-color: #ccc;
}
.btn-success {
  box-shadow: 0 3px 0 #23812f;
  text-shadow: 0 1px 1px rgba(0,0,0,.3);
  font-size: 1.5em;
  width: 330px;
  padding: 15px 0;
}

.btn-info {
  box-shadow: 0 3px 0 #23812f;
  text-shadow: 0 1px 1px rgba(0,0,0,.3);
  font-size: 1.5em;
  width: 330px;
  padding: 15px 0;
}

