<!-- This is the page where people see the places they have favorited.  -->

<% provide(:title, "My Places") %>
<h1>My Plzes</h1>

<div>
	<ul>
		<% @places.each do |place| %>
			<li>
				<%= place.name %>
			</li>
		<% end %>
	</ul>
</div>
