<h2>Top bars in <%= params[:search].titleize %>.</h2>

<ul>
	<% @places.each do |place| %>
		<li>
			<%= place['name'] %>
			<%= link_to "Add to My Places", myplaces_path(place: { name: place['name'] }), method: :post %>
    </li>
	<% end %>
</ul>


