<% provide(:my_places, "active") %>
<% provide(:title, 'My Places') %>

<!-- This is the page where people see the places they have favorited.  -->

<center><h1>My Plzes</h1></center>
<center><h3>Let's go Drink!</h3></center>

<div class="container-fluid">
	<div class="container" id="main">
		<div class="row">
		<% @my_places.each do |place| %>
			<div class="col-md-6 text-left">
				<div class="panel panel-default">
		  			<div class="panel-body">
			  			<p>
							<span style="float: left"><%= place.name %></span>
							<span style="float: left"><%#= place.rating %></span>
							<span style="float: left"><%#= place.photo %></span>
							<span style="float: left"><%#= place.address %></span>
					    <span style="float: right"><%= link_to "Visited", place, method: :delete %></span>
				      </p>

							<div class="col-md-4 delete-icon"> <!-- Delete Icon -->
							<%= link_to place, method: :delete do%>
									<i class="fa fa-times-circle-o fa-3x"></i>
								<% end %>
							</div><!-- Delete Icon -->

					</div>
				</div>
			</div>
		<% end %>
		</div>
	</div>
</div>


<!-- , data: { confirm: 'Are you sure you visited?' } -->
