<!-- This is the Search results page -->
<br>
<center><h1>Top Bars in <%= params[:search].titleize %>.</h1></center>


<div class="container-fluid">
	<div class="container" id="main">
		<div class="row">
				<% @places.each do |place| %>
					<div class="col-md-6 text-left">
						<div class="panel panel-default">
			  			<div class="panel-body">
			  				<p>
									<span style="float: left"><%= place['name'] %></span>
									<span style="float: right"><%= link_to "Add to MyPlzes", places_path(place: { name: place['name'] }), method: :post %></span>
								</p>
							</div>
						</div>
					</div>
				<% end %>
</div>