<% provide(:title, "My Places") %>
<h1>My Plzes</h1>

<div>
	<ul>
		<% @my_places.each do |place| %>
			<li>
				<%= place.name %>
			</li>
	  <%#= link_to 'Delete', places_path(place), method: :delete, data: { confirm: 'Are you sure you want to delete this?' } %>
		<% end %>
	</ul>
</div>





