<% provide(:title, "My Places") %>
<h1>My Plzes</h1>

<div>
	<ul>
		<% @my_places.each do |place| %>
			<li>
				<%= place.name %><%= link_to 'Delete', places_path(place), method: :delete, data: { confirm: 'Are you sure?' } %>
			</li>
		<% end %>
	</ul>
</div>





