<% provide(:title, "My Places") %>
<h1>My Places</h1>


<div>
	<% @my_places.each do |place| %>
		<%= place["name"] %>
	  <%#= link_to 'Delete', places_path(place), method: :delete, data: { confirm: 'Are you sure you want to delete this?' } %>
	<% end %>
</div>







