<% provide(:title, "My Places") %>
<h1>My Plzes</h1>

<div>
	<ul>
		<% @my_places.each do |place| %>
			<li>
			<h><%= place.name %></h2><font size="10" color="red" >No burritos available. Sorry yo... Have a salad.</font>
			</li>
	  <%#= link_to 'Delete', places_path(place), method: :delete, data: { confirm: 'Are you sure you want to delete this?' } %>
		<% end %>
	</ul>
</div>





